.ant-modal-title{
    color:#fff !important;
}

.ant-modal{
    width: 320px !important;
}

.ant-modal-close{
    top :38.6px !important;
}

.ant-modal-close-x{
    font-size: 20px !important;
    color : #FFF;

}

.ant-modal-content{
    background: transparent !important;
    box-shadow: none !important;
}

.ant-modal-header{
    background: transparent !important;
    border-bottom: none !important;
}

.ant-modal-body{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background: #fff !important;
    border-top-left-radius : 4px;
    border-top-right-radius : 4px;
    padding:20px !important;
}

.ant-modal-footer{
    background: #fff !important;
    text-align :center !important;
}