img{
    width:30px;
}
.ant-menu-horizontal > .ant-menu-item:hover > a > div > img,
.ant-menu-horizontal > .ant-menu-item:hover > a > div > span{
    filter: invert(83%) sepia(0%) saturate(1302%) hue-rotate(354deg) brightness(96%) contrast(109%);
}

.ant-menu-horizontal > .ant-menu-item-selected > a > div > img,
.ant-menu-horizontal > .ant-menu-item-selected > a > div > span{
    filter: invert(48%) sepia(77%) saturate(2959%) hue-rotate(189deg) brightness(98%) contrast(106%);
}

.ant-menu-horizontal > .ant-menu-item-selected > div > span{
    filter: invert(48%) sepia(77%) saturate(2959%) hue-rotate(189deg) brightness(98%) contrast(106%);
}

.ant-menu-horizontal > .ant-menu-item-selected{
    color: #2694ff !important;
    border-bottom: 2px solid #2694ff !important;
}
.ant-menu-horizontal >.ant-menu-item{
    transition: color 0s;
}
/* .ant-menu-horizontal > .ant-menu-item:hover > a > div > img{
    content: url('https://drive.google.com/uc?id=1zteA9-guY6LOgadIfq1oSHLpWBpaImQj');
} */

.ant-menu-horizontal{
    line-height: 20px !important;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active, 
.ant-menu-horizontal > .ant-menu-submenu-active, 
.ant-menu-horizontal > .ant-menu-item-open, 
.ant-menu-horizontal > .ant-menu-submenu-open, 
.ant-menu-horizontal > .ant-menu-submenu-selected{
    color: #212121 !important;  
    border-bottom: 2px solid #212121 !important;
}

.ant-menu-horizontal {
    border-bottom: 0px !important;
}

